// Screen Sizes, Widths:
$laptop: 1280px;
$tablet: 768px;
$mobile: 375px;

// Colors
$spooky: #000000;
$ghost: #ffffff;
$black: #000000;
$blue: #c7eae4;
$green: #a7e8bd;
$darkGrey: #393939;
$lightGrey: #00000029;
$lightPink: #efa7a7;
$darkPink: #fcbcb8;
$red: #f25c54;
$white: #ffffff;
$yellow: #ffd972; 
