.scissors1 {
    background-image: url(../images/scissors1.jpeg);
}

.scissors2 {
    background-image: url(../images/scissors2.jpeg);
}

.scissors3 {
    background-image: url(../images/scissors3.jpeg);
}

.scissors4 {
    background-image: url(../images/scissors4.jpeg);
}

.scissors5 {
    background-image: url(../images/scissors5.jpeg);
}

.scissors6 {
    background-image: url(../images/scissors6.jpeg);
}

.scissors7 {
    background-image: url(../images/scissors7.jpeg);
}

.scissors8 {
    background-image: url(../images/scissors8.jpeg);
}

.scissors9 {
    background-image: url(../images/scissors9.jpeg);
}