.socks1 {
    background-image: url(../images/socks1.jpeg);
}

.socks2 {
    background-image: url(../images/socks2.jpeg);
}

.socks3 {
    background-image: url(../images/socks3.jpeg);
}

.socks4 {
    background-image: url(../images/socks4.jpeg);
}

.socks5 {
    background-image: url(../images/socks5.jpeg);
}

.socks6 {
    background-image: url(../images/socks6.jpeg);
}

.socks7 {
    background-image: url(../images/socks7.jpeg);
}

.socks8 {
    background-image: url(../images/socks8.jpeg);
}

.socks9 {
    background-image: url(../images/socks9.jpeg);
}