.sheet1 {
    background-image: url(../images/sheet1.jpeg);
}

.sheet2 {
    background-image: url(../images/sheet2.jpeg);
}

.sheet3 {
    background-image: url(../images/sheet3.jpeg);
}

.sheet4 {
    background-image: url(../images/sheet4.jpeg);
}

.sheet5 {
    background-image: url(../images/sheet5.jpeg);
}

.sheet6 {
    background-image: url(../images/sheet6.jpeg);
}

.sheet7 {
    background-image: url(../images/sheet7.jpeg);
}

.sheet8 {
    background-image: url(../images/sheet8.jpeg);
}

.sheet9 {
    background-image: url(../images/sheet9.jpeg);
}