// Screen Sizes, Widths:
$laptop: 1280px;
$tablet: 768px;
$mobile: 375px;

// Colors
$black: #000;
$blue: #c7eae4;
$green: #a7e8bd;
$lightGrey: #3a3a3a;
$darkGrey: #05050529;
$lightPink: #efa7a7;
$darkPink: #fcbcb8;
$red: #f25c54;
$white: #fff;
$yellow: #ffd972;


